<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista VIP</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
</head>

<body>

	<div class="container" id="listaDeConvidados">
		<table class="table table-hover">
			<thead>
				<th>Nome</th>
				<th>Email</th>
				<th>Telefone</th>
				<th>Ações</th>
			</thead>
			<tr th:each="convidado : ${convidados}">
				<td><span th:text=${convidado.nome} /></td>
				<td><span th:text=${convidado.email} /></td>
				<td><span th:text=${convidado.telefone} /></td>
				<td class="actions">
					<a class="btn btn-warning btn-xs" th:href="@{/alterar(id=${convidado.id})}">Editar</a>
					<a class="btn btn-danger btn-xs" th:href="@{/remover(id=${convidado.id})}" data-toggle="modal" data-target="#delete-modal">Excluir</a>
				</td>
			</tr>
		</table>
	</div>

	<hr />

	<div class="container">
		<form action="salvar" method="post">
			<div class="form-group">
				<label for="nome">Nome</label> 
				<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" />
			</div>
			<div class="form-group">
				<label for="email">Email</label> 
				<input type="email"	class="form-control" id="email" name="email" placeholder="Email" />
			</div>
			<div class="form-group">
				<label for="telefone">Telefone</label>
				<input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" />
			</div>

			<button type="submit" class="btn btn-success">Convidar</button>
		</form>
	</div>

</body>

</html>